<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Express</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/app.css?v=1.0.0">
  
  <script src="/js/app.js?v=1.0.0" defer></script>
</head>

<body>
  <header>
    <h1>Personnages de bande dessiné</h1>
  </header>
  <main>
    <div id="tablePersonnages"></div>
    </br></br>
    <div id="tableProduits"></div>
  </main>
  <footer>
    <p>@Genevieve Trudel et Frederic Champagne</p>
  </footer>
</body>

</html>